*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
eyeofsauron/mainapp/nbproject/private/
eyeofsauron/mainapp/build.xml
whackamole_old/whackamole/dist/
whackamole_old/whackamole/nbproject/private/
whackamole_old/whackamole/build/
eyeofsauron/mainapp/dist/
eyeofsauron/mainapp/build/